/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 19 dic 2023, 20:15:14
    Author     : pc
*/

html, body {
    --angulo: 101deg;
    font:small-caps bold 1em/1 sans-serif;
    height: 100%;
    margin: .2vh .2vw .2vh;
    background:
        linear-gradient(
        352deg,
        rgba(73,160,223,0.67),
        rgba(37,183,183,0.48),
        rgba(49,132,129,0.37),
        rgba(60,109,135,0.23),
        rgba(75,50,146,0.01),
        rgba(60,13,115,0.26),
        rgba(95,44,130,0.49)
        ),
        repeating-conic-gradient(from 340deg at 25% 25%,
        rgba(0, 15, 7, 0.1) 0 12.5%,
        rgba(15, 7, 0, 0.12) 13% 25%,
        rgba(7,0,15,0.07) 25% 35%,
        rgba(0,7,15,0.03) 37.5% 50%,
        rgba(15,7,0,0.01) 50% 60%,
        rgba(7,0,15,0.04) 62.5% 70%,
        rgba(0,15,7,0.09) 75% 100%
        ),

        repeating-radial-gradient(
        circle at top center,
        #e89292 0%,
        #e39c62 12.5%,
        #edde8a 25%,
        #a7eb8c 37.5%,
        #83e3d4 50%,
        #8a98df 62.5%,
        #ccafed 75%,
        #ea7ad2 87.5%,
        #ca8787 100%
        );
    background-attachment: fixed;
}

a{
    padding: .2em;
    border: 0;
    margin: .3em;
    background-clip: text;
    -webkit-background-clip: text;
    font: 1em sans-serif;
    background-image:
        linear-gradient(
        var(--angulo),
        rgba(7,24,63,0.75),
        rgba(4,63,24,0.58),
        rgba(48,48,48,0.17),
        rgba(52,55,0,0.23),
        rgba(16,7,48,0.45),
        rgba(48,7,24,0.68),
        rgba(0,52,48,0.74)
        );
    color: #0040d520;
    text-shadow:
        .07em .07em .13em #ffa5001e;
}

h1 {
    color: white;
    font-size: 3em;
    text-shadow:
        1px 1px 2px whitesmoke,
        0 0 1em lightgreen,
        0 0 0.2em darkgreen;
}

h2 {
    font-size: 2em;
    text-shadow:
        1px 1px 2px white,
        0 0 1em lightblue,
        0 0 0.2em cyan;
}

h3 {
    text-shadow:
        .08em .08em .1em whitesmoke,
        0 0 .12em gray,
        0 0 .2em grey;
}

div {
    margin: 1em;
    align-content: stretch;
    align-items: start;
}

label{
    align-self: start;
    color: #2f2332;
    box-shadow: 1px 2px .3em #25141d23;
    border-radius: .23em;

}

ul {
    border: 0.1em inset #f8f0ff20;
    border-radius: .31em;
    padding: 0.77em;
    transition:
        border 250ms ease-in-out 100ms,
        border-radius 833ms ease-in-out 100ms;

    &:hover {
        border: 0.12em outset #f8f0ff88;
        border-radius: .11em;
    }

    li {
        list-style: disc;
        background-color:  rgba(248,255,240,0.1);
        background-image:
            conic-gradient(
            from 45deg at top left,
            transparent 0%,
            rgba(255,255,255,0.55) 100%
            );
        :any-link {

            border: 0.1em groove #f0f8ff15;
            border-radius: .19em;
            transition:
                text-shadow 350ms ease-in-out 100ms,
                border 250ms ease-in-out 100ms,
                border-radius 833ms ease-in-out 100ms;
            &:hover {

                border: 0.12em ridge #f0f8ff88;
                border-radius: .1em;
                font-size: larger;
                color: goldenrod;
                text-shadow:
                    1px 1px 2px gold,
                    0 0 1em lightyellow,
                    0 0 0.2em yellow;
            }
        }
        margin-left: 0;
        transition: margin-left 650ms ease-in-out 125ms,
            background-color 350ms ease-in-out 250ms;
        &:hover {
            list-style: circle;
            margin-left: 0.2em;
            background-color:
                rgba(255,240,248,0.8);
        }
    }
}

input{
    border-style: groove ;
    align-self: start;
    color: #fff0f9dc;

    box-shadow: .2em .3em .7em #d34d2f43;
    background:
        radial-gradient(
        circle at 7%,
        rgba(18, 4, 11, 0.44) 5%,
        rgba(23, 18, 43, 0.40) 8%,
        rgba(20, 16, 16, 0.35) 73%,
        rgba(11, 5, 11, 0.49) 82%);
}

::placeholder {
    color: #ffaa0030;
    font-stretch: semi-expanded;
    font-style: oblique;
    font-weight: bolder;
    text-shadow: .07em .04em .11em rgba(198,198,198,0.11);
    background-image: repeating-radial-gradient(
        circle at 7%,
        rgba(255, 192, 0, 0.72) 5%,
        rgba(128, 92, 0, 0.86) 6%,
        rgba(128, 92, 0, 0.76) 60%,
        rgba(120, 116, 116, 0.82) 73%,
        rgba(111, 105, 111, 0.85) 82%);
    background-clip: text;
    -webkit-background-clip: text;

}

.container {
    position: relative;
    background: #010f0800;
    border-radius: .5em .2em;
    top: 4%;
    left: 4%;
    transform-origin: top left;
    transform: scale(1);
    transition:
        transform 750ms ease-in-out 125ms ,
        border-radius 550ms ease-in-out 125ms ,
        background 750ms ease-in-out 125ms;

    :link {
        font-size: x-large;
        background-image:
            linear-gradient(
            var(--angulo),
            #00005599,
            #00009901,
            #0000bb90,
            #bbbbbb09,
            #000000a0
            );
        background-clip: text;
        -webkit-background-clip: text;
        margin: .5em;
        padding: .1em;
        text-shadow:
            .08em .08em 0 rgba(220,220,220,0.25),
            0 0.1em .08em rgba(200,200,200,0.12),
            0.1em 0 .06em rgba(192,192,192,0.1);
        transition: background-image 2800ms ease-in-out 300ms;
        &:hover{
            --angulo:7deg;
            background-image:
            linear-gradient(
            var(--angulo),
            #00005501,
            #00009999,
            #0000bb09,
            #bbbbbb90,
            #0000000a
            );
        }
    }

    &:hover{
        transform: scale(1.05) translate(1%, 1.21%);
        border-radius: .2em .5em;
        background: #0f08017c;
    }
}

table {
    width: fit-content;
    border-collapse: separate;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

th,
td {
    padding: 15px;
    background-color: rgba(255,255,255,0.2);
    color: #fff;
    text-shadow:
        0.07em 0 .11em #fa0,
        0 0.07em .17em #a0f,
        0.07em 0.07em .23em #af0;
}

th {
    text-align: left;
}

thead {
    th {
        background-color: #55608f44;
    }
}

tbody {
    tr {
        background-color: rgba(192,192,192,0.1);
        transition: background-color 130ms ease-in 100ms;
        &:hover {
            background-color: rgba(255,255,255,0.35);
        }
    }
    td {
        position: relative;
        text-shadow:
            0 0 .15em grey;
        &:hover {
            text-shadow:
                0 0 .19em gray;
            &:before {
                content: "";
                position: absolute;
                left: 0;
                right: 0;
                top: -9999px;
                bottom: -9999px;
                background-color: rgba(255,255,255,0.2);
                z-index: -1;
            }
        }
    }
}

