/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 19 dic 2023, 20:15:14
    Author     : pc
*/

html,
body {
    height: 100%;
}

body {
    margin: 0;
    background: linear-gradient(
        135deg,
        #49a09dfd,
        #25b7b7cd,
        #318481ab,
        #3c6d8755,
        #4b329200,
        #3c0d7377,
        #5f2c82fd),
        linear-gradient(
        45deg,
        #e89292,
        #e39c62,
        #edde8a,
        #a7eb8c,
        #83e3d4,
        #8a98df,
        #ccafed,
        #ea7ad2,
        #ca8787
        )

        ;
    font-family: sans-serif;
    font-weight: 100;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

table {
    width: 800px;
    border-collapse: separate;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

th,
td {
    padding: 15px;
    background-color: rgba(255,255,255,0.2);
    color: #fff;
}

th {
    text-align: left;
}

thead {
    th {
        background-color: #55608f;
    }
}

tbody {
    tr {
        &:hover {
            background-color: rgba(255,255,255,0.3);
        }
    }
    td {
        position: relative;
        &:hover {
            &:before {
                content: "";
                position: absolute;
                left: 0;
                right: 0;
                top: -9999px;
                bottom: -9999px;
                background-color: rgba(255,255,255,0.2);
                z-index: -1;
            }
        }
    }
}