/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 19 dic 2023, 20:15:14
    Author     : pc
*/

html, body {
    height: 100%;
    margin: .2vh .2vw .2vh;
    background: linear-gradient(
        352deg,
        #49a09dfd,
        #25b7b7cd,
        #318481ab,
        #3c6d8755,
        #4b329200,
        #3c0d7377,
        #5f2c82fd),
        linear-gradient(
        2deg,
        #e89292,
        #e39c62,
        #edde8a,
        #a7eb8c,
        #83e3d4,
        #8a98df,
        #ccafed,
        #ea7ad2,
        #ca8787
        );
    font-family: sans-serif;
    font-weight: 100;
}

h1 {
    color: white;
    font-size: 3em;
    text-shadow:
        1px 1px 2px whitesmoke,
        0 0 1em lightgreen,
        0 0 0.2em darkgreen;
}
h2 {
    font-size: 2em;
    text-shadow:
        1px 1px 2px white,
        0 0 1em lightblue,
        0 0 0.2em cyan;
}

div {
    margin: 1em;
    align-content: stretch;
    align-items: start;
}

label{
    align-self: start;
    color: #2f2332;
    box-shadow: 1px 2px .3em #25141d23;
    border-radius: .23em;

}

ul {
    :link {
        transition:
            text-shadow 350ms ease-in-out;
        &:hover {
            font-size: larger;
            color: goldenrod;
            text-shadow:
                1px 1px 2px gold,
                0 0 1em lightyellow,
                0 0 0.2em yellow;
        }
    }

    li {
        list-style: disc;
        background-color: rgba(255,255,255,0.1);
        transition:
            margin-left 400ms ease-in-out,
            background-color 650ms ease-in-out;
        margin-left: 0;
        &:hover {

            position: relative;
            background-color: rgba(255,255,255,0.35);
            list-style: circle;
            margin-left: .2em;

        }
    }
}

input{
    border-style: groove ;
    align-self: start;
    color: #fff0f9dc;

    box-shadow: .2em .3em .7em #d34d2f43;
    background:
        radial-gradient(
        circle at 7%,
        rgba(18, 4, 11, 0.88) 5%,
        rgba(23, 18, 43, 0.80) 8%,
        rgba(20, 16, 16, 0.75) 73%,
        rgba(11, 5, 11, 0.7) 82%);
}

::placeholder {
    font-stretch: semi-expanded;
    font-style: oblique;
    font-weight: bolder;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

table {
    width: 800px;
    border-collapse: separate;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

th,
td {
    padding: 15px;
    background-color: rgba(255,255,255,0.2);
    color: #fff;
}

th {
    text-align: left;
}

thead {
    th {
        background-color: #55608f;
    }
}

tbody {
    tr {
        &:hover {
            background-color: rgba(255,255,255,0.3);
        }
    }
    td {
        position: relative;
        &:hover {
            &:before {
                content: "";
                position: absolute;
                left: 0;
                right: 0;
                top: -9999px;
                bottom: -9999px;
                background-color: rgba(255,255,255,0.2);
                z-index: -1;
            }
        }
    }
}

