<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/html.html to edit this template
-->
<html lang="ES-ar" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Lista Autores</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" th:href="@{/css/default.css}" />
    </head>
    <body>
        <div >   
            <table>
                <thead>
                    <tr>
                        <th scope="col">Id del Autor</th>
                        <th scope="col">Nombre del Autor</th>
                    </tr>
                </thead>
                <tbody> 
                    <tr th:each="autor : ${autores}">
                        <th scope="row" th:text="${autor.id}"></th>
                        <td><a th:text="${autor.nombre}" th:href="@{/view/autor/registra-autor/__${autor.id}__}"></a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>
