<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/html.html to edit this template
-->
<html lang="ES-ar" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Vista Clientes</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div >   
            <table>
                <thead>
                    <tr>
                        <th scope="col">Id del Cliente</th>

                        <th scope="col">Nombre del Cliente</th>
                        <th scope="col">Apellido del Cliente</th>
                        <th scope="col">Doc. Cliente</th>
                        <th scope="col">Tel. Cliente</th>
                    </tr>
                </thead>
                <tbody th:each="cliente : ${clientes}"> 
                    <tr>
                        <th scope="row" th:text="${cliente.id}"></th>
                        <td th:text="${cliente.nombre}"></td>
                        <td th:text="${cliente.apellido}"></td>
                        <td th:text="${cliente.documento}"></td>
                        <td th:text="${cliente.telefono}"></td>

                    </tr>

                </tbody>
            </table>
        </div>
    </body>
</html>
