<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/html.html to edit this template
-->
<html lang="ES-ar" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Registro de Prestamo</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" th:href="@{/css/default.css}" />
    </head>
    <body>
        <div class="container">
            <form class="formulario" th:action="@{/view/prestamo/registro/}" th:object="${prestamo}" th:method="POST">

                <div>
                    <h2 class="card-title" th:text="*{id != null ? 'Modifica el Prestamo' : 'Registra el Prestamo'}">Registra el Prestamo</h2>
                </div>

                <div >
                    <label th:for="*{id+'-prestamo'}" th:hidden="*{id == null}">ID del Prestamo:</label>
                    <input th:field="*{id}" th:hidden="hidden"/>
                    <input th:id="*{id+'-prestamo'}" th:value="*{id}" title="Del campo que identifica al prestamo" th:disabled="*{id} != null" th:hidden="*{id == null}"/>
                </div>
                <div >
                    <label th:for="fechadevolucion">Fecha a devolver:</label>
                    <input type="datetime-local" title="Decide cuando se devuelve el libro entrgado" th:field="*{fechadevolucion}" />
                </div>
                <div >
                    <label th:for="fechaprestamo">Fecha en que fue pedido:</label>
                    <input type="datetime-local" title="Pone cuando el libro fue entrgado" th:field="*{fechaprestamo}" />
                </div>

                <div >
                    <label th:for="clienteId">Cliente:</label>
                    <select title="Para elección del cliente" th:field="*{clienteId}">

                        <option value="">Seleccionar Cliente</option>

                        <option th:if="*{id != null}"
                                th:each="cliente : ${listaClientes}"
                                th:value="${cliente.id}"
                                th:selected="${cliente.id} == *{clienteId.id}"
                                th:text="|${cliente.nombre} ${cliente.apellido}|"
                                />
                        <option th:unless="*{id != null}"
                                th:each="cliente : ${listaClientes}"
                                th:value="${cliente.id}"
                                th:text="|${cliente.apellido}, ${cliente.nombre} |"
                                />
                    </select>
                </div>
                <div >
                    <label th:for="libroIsbn">Libro:</label>
                    <select title="Donde se elije el ejemplar a pedir" th:field="*{libroIsbn}">  
                        <option value="">Seleccionar Libro</option>
                        <option th:if="*{id != null}"
                                th:each="libro : ${listaLibros}"
                                th:value="${libro.isbn}" 
                                th:selected="${libro.isbn} == *{libroIsbn.isbn}" 
                                th:text="${libro.titulo}"
                                />
                        <option th:unless="*{id != null}"
                                th:each="libro : ${listaLibros}"
                                th:value="${libro.isbn}" 
                                th:text="${libro.titulo}"
                                />
                    </select>
                </div>

                <button type="submit">Registrar</button>
            </form>
            <div th:if="${error != null}" >
                <div >
                    <h5 >Error!</h5>
                    <p th:text="${error}"></p>
                </div>
            </div>
            <div th:if="${exito != null}" >
                <div >
                    <h5 >Exito!</h5>
                    <p  th:text="${exito}"></p>
                </div>
            </div>

            <a th:if="${id != null}" th:href="@{/view/prestamo/lista}">Volver</a>
            <a th:unless="${id != null}" th:href="@{/}">Volver</a>

        </div>
    </body>
</html>
